$primary: #ED7B3D !default;
$secondary: #2CC0D5 !default;
$body-bg: #e8ecef !default;
$gray: #f4f7f9 !default;
$danger: #E05E6A !default;
$min-contrast-ratio: 1.5;
$btn-border-radius: 0;
$form-check-input-border-radius: 0;
$table-th-font-weight: normal;
$nav-pills-border-radius: 0;
$input-border-radius: 0;

@import 'bootstrap/scss/bootstrap.scss';
@import './assets/css/index.scss';
@import 'react-toastify/dist/ReactToastify.css';
th {
  text-transform: uppercase;
}